<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"  crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>short my url</title>
</head>
<body>
    <img src="../static/assets/mosq.gif" class="parakkumthalika">
            <div class="soup">
                <div class="title">URL <span>Shortener</span></div>
                <div style="width:100%; height:2px; background-color:#633152;margin-top:20px;"></div>
                <div class="c">
                    <input id="hmm" type="text" name="website_url" placeholder="enter your loooong url here">
                    <button id="shorter_url">SHORTEN MY LONG URL</button>
                    <div style="padding-top: 88px;font-size: 42px;color: #FEF2DD;">&lt;your short url&gt;</div>
                    <div style="border-bottom:3px solid #633152; width:81%; margin:auto; margin-top:25px;"></div>
                </div>
            </div>
            <div class="footer">commit version • A project by Martin and Rohan</div>
</body>
<script src="../static/js/main.js"></script>
</html>
